html {
  font-size: 62.5%;
}

body {
  background: #EEE;
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.App {
  margin: 20px auto;
  max-width: 400px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #FFF;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2rem;
  margin: 20px 0;
  padding: 20px;
}

input {
  box-sizing: border-box;
  font-size: inherit;
  outline: 0;
  padding: 20px;
  width: 100%;
}

li:hover {
  color: #AAA;
  text-decoration: line-through;
}

.icons {
  color: #36D7B2;
}

.pr {
  float: right;
}

.empty {
  text-align: center;
}